{% extends 'base.html' %}
{% load humanize %}
{% block header %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

<script>
const ORDERLIST_API_URL = "http://127.0.0.1:8000/api/order/?";

function resetDataTable(){
    $("#js-orderList").remove();
    let dataTable = document.createElement("tbody");
    dataTable.id = "js-orderList";
    dataTable.class = "text-dark";

    document.getElementById("js-orderTable").appendChild(dataTable);
}

function makeTh(value){
    let thElement = document.createElement("th");
    thElement.scope = "row";
    thElement.innerHTML = value;

    return thElement;
}

function setDataList(orderList){
    let orderList_tbody = document.getElementById("js-orderList");

    orderList.forEach(order => {
        let dataRow = document.createElement("tr");
        dataRow.appendChild(makeTh(order.id));
        dataRow.appendChild(makeTh(order.product_name));
        dataRow.appendChild(makeTh(order.quantity));
        dataRow.appendChild(makeTh(order.register_date));
        orderList_tbody.appendChild(dataRow);
    });
}

function removeNextPrevBtns()
{
    pagenationDiv = document.getElementById("pagenation");
    while (pagenationDiv.firstChild) {
        pagenationDiv.removeChild(pagenationDiv.lastChild);
    }
}

function setPageBtn(pageAPI, btnText)
{
    let pageBtn = document.createElement("button");
    pageBtn.addEventListener("click", function(){
        callAjaxOrderQuery(pageAPI);
    });
    pageBtn.class = "pagenation";
    pageBtn.innerHTML = btnText;

    document.getElementById("pagenation").appendChild(pageBtn);
}

function setNextPrevBtn(result){
    removeNextPrevBtns();

    if (result.previous)
        setPageBtn(result.previous, "prev");

    if (result.next)
        setPageBtn(result.next, "next");
    
}

function callAjaxOrderQuery(apiURL){
    $.ajax({
            url: apiURL,
            success: function(result){
                console.log(result);
                resetDataTable();
                setDataList(result.results);
                setNextPrevBtn(result);
            }
        });
}

$( document ).ready( function() {
    // 검색 옵션 토글
    $( '#search-toggle' ).click( function() {
        let $element = $('#search-option');
        if ($element.is(':hidden')) {
            $element.fadeIn();
        }
        else {
            $element.fadeOut();
        }
    });

    // 검색 버튼 클릭
    $('#js-search').click(function() {
        let queryArr = [];

        let startday = $('#js-startday').val();
        let endday = $('#js-endday').val();
        let register_dates = $('#js-register_dates').val();
        let products = $('#js-products').val();
        let productname = $('#js-productname').val();
        let startproductprice = $('#js-startproductprice').val();
        let endproductprice = $('#js-endproductprice').val();
        let users = $('#js-users').val();
        let email = $('#js-email').val();
        let startuserregisterday = $('#js-startuserregisterday').val();
        let enduserregisterday = $('#js-enduserregisterday').val();
        let quantity = $('#js-quantity').val();
        let startprice = $('#js-startprice').val();
        let endprice = $('#js-endprice').val();
        let ordering;
        if ($("#ordering-price").hasClass("active"))
            ordering = "price";
        else if($("#ordering-quantity").hasClass("active"))
            ordering = "quantity";
        else
            ordering = "register_date";

        if ($("#ordering-desc").hasClass("active"))
            ordering = "-" + ordering;

        if (startday)
            queryArr.push("startday=" + startday.replace(/(\s*)/g,""));
        
        if (endday)
            queryArr.push("endday=" + endday.replace(/(\s*)/g,""));
        
        if (register_dates)
            queryArr.push("register_dates=" + register_dates.replace(/(\s*)/g,""));

        if (products)
            queryArr.push("products=" + products.replace(/(\s*)/g,""));

        if (productname)
            queryArr.push("productname=" + productname);

        if (startproductprice)
            queryArr.push("startproductprice=" + startproductprice);

        if (endproductprice)
            queryArr.push("endproductprice=" + endproductprice);

        if (users)
            queryArr.push("users=" + users.replace(/(\s*)/g,""));
        
        if (email)
            queryArr.push("email=" + email);

        if (startuserregisterday)
            queryArr.push("startuserregisterday=" + startuserregisterday);

        if (enduserregisterday)
            queryArr.push("enduserregisterday=" + enduserregisterday);

        if (quantity)
            queryArr.push("quantity=" + quantity);

        if (startprice)
            queryArr.push("startprice=" + startprice);

        if (endprice)
            queryArr.push("endprice=" + endprice);

        if (ordering)
            queryArr.push("ordering=" + ordering);

        let queryString = queryArr.join('&');
        console.log(ORDERLIST_API_URL + queryString);
        
        callAjaxOrderQuery(ORDERLIST_API_URL + queryString);
    });
});
$( function() {
    $(".datePicker").datepicker({
        dateFormat: 'yy-mm-dd'
    });
});


</script>
{% endblock header %}
{% block contents %}
<button id="search-toggle" class="btn btn-success mt-2">검색 옵션 보기</button>
<div id="search-option" style="display: none; margin-top:10px;">
    <div class="row mt-3 search-ui">
        <div class="col-6">
            <h5>주문 일자 관련</h5>
            <div class="m-4">
                <div class="mt-2 form-group">
                    <label class="col-form-label col-form-label-sm" for="js-startday"> 특정 기간 : </label> 
                    <input id="js-startday" class="datePicker w-25" type="text" placeholder="yyyy-mm-dd"/>
                    ~
                    <input id="js-endday" class="datePicker w-25" type="text" placeholder="yyyy-mm-dd"/>
                </div>
                <div class="mt-2">
                    <label class="col-form-label col-form-label-sm" for="js-register_dates"> 선택 일자(복수 가능) : </label> 
                    <input id="js-register_dates" class="datePicker w-25" type="text" placeholder="yyyy-mm-dd"/>
                </div>
            </div>
        </div>
        <div class="col-6">
            <h5>상품 관련</h5>
            <div class="m-4">
                <div class="mt-2">
                    <label class="col-form-label col-form-label-sm"> 상품(id, 복수 가능) : </label> 
                    <input id="js-products" class="w-25"/>
                </div>
                <div class="mt-2">
                    <label class="col-form-label col-form-label-sm"> 상품명 : </label> 
                    <input id="js-productname" class="w-25"/>
                </div>
                <div class="mt-2">
                    <label class="col-form-label col-form-label-sm"> 제품 가격 범위 : </label> 
                    <input id="js-startproductprice" class="w-25"/>
                     ~ 
                    <input id="js-endproductprice" class="w-25"/>
                </div>
            </div>
        </div>
        <div class="col-6">
            <h5>유저 관련</h5>
            <div class="m-4">
                <div class="mt-2">
                    <label class="col-form-label col-form-label-sm"> 유저(id, 복수 가능) : </label>
                    <input id="js-users" class="w-25"/>
                </div>
                <div class="mt-2">
                    <label class="col-form-label col-form-label-sm"> 유저 email(특정 도메인) : </label> 
                    <input id="js-email" class="w-25"/>
                </div>
                <div class="mt-2">
                    <label class="col-form-label col-form-label-sm"> 가입 일자 : </label> 
                    <input id="js-startuserregisterday" class="datePicker w-25" type="text" placeholder="yyyy-mm-dd"/>
                     ~ 
                    <input id="js-enduserregisterday" class="datePicker w-25" type="text" placeholder="yyyy-mm-dd"/>
                </div>
            </div>
        </div>
        <div class="col-6">
        <h5>주문 관련</h5>
            <div class="m-4">
                <div class="mt-2">
                    <label class="col-form-label col-form-label-sm"> 주문양 : </label>
                    <input id="js-quantity" class="w-25"/>
                </div>
                <div class="mt-2">
                    <label class="col-form-label col-form-label-sm"> 주문 가격 : </label>
                    <input id="js-startprice" class="w-25"/>
                     ~ 
                    <input id="js-endprice" class="w-25"/>
                </div>
            </div>
        </div>
        <div class="col-6">
            <h5> 정렬 옵션 : </h5>
            <div class="m-4">
                <div class="bs-component mb-2">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-primary" id="ordering-price">
                            <input type="radio" name="options" autocomplete="off"> 주문 금액
                        </label>
                        <label class="btn btn-primary" id="ordering-quantity">
                            <input type="radio" name="options" autocomplete="off"> 주문 수량
                        </label>
                        <label class="btn btn-primary active" id="ordering-register">
                            <input type="radio" name="options" autocomplete="off" checked> 등록일
                        </label>
                    </div>
                </div>
                <div class="bs-component">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-primary" id="ordering-desc">
                            <input type="checkbox" autocomplete="off"> 역순
                        </label>
                    </div>
                </div>
            </div>    
        </div> 
        <div class="col-6" style="display: flex; flex-direction: row-reverse; justify-content:center; align-items:center;">
            <button id="js-search" class="btn btn-warning mt-2" style="height:50px">검색</button>
        </div>
    </div>
</div>



<div class="row mt-5">
    <div class="col-12">
        <div id="pagenation">

        </div>
        <table id="js-orderTable" class="table table-light">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">상품명</th>
                    <th scope="col">수량</th>
                    <th scope="col">주문날자</th>
                </tr>
            </thead>
            <tbody id="js-orderList" class="text-dark">
                {% for order in order_list %}
                <tr>
                    <th scope="row">{{ order.id }}</th>
                    <th scope="row">{{ order.product }}</th>
                    <th scope="row">{{ order.quantity | intcomma}}</th>
                    <th scope="row">{{ order.register_date | date:'Y-m-d H:i' }}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock  %}